<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<form class="needs-validation" action="/api/register" method="post" th:object="${register}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="form-wrap">
                    <div class="form-card">
                        <div class="top">
                            <h3>Create Your Account</h3>
                            <p>Enter your username & password to register</p>
                            <p class="text-secondary" th:text="${message}" />
                        </div>
                        <div class="content">
                            <div class="input">
                                <label for="username">Username</label>
                                <input type="text" id="username" th:field="*{username}" required />
                            </div>
                            <div class="input">
                                <label for="password">Password</label>
                                <input type="password" id="password" th:field="*{password}" required />
                            </div>
                            <button type="submit" class="submit">Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- JavaScript files -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>

</html>
